.likes-container {
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.blur-background {
  max-width: 800px;
}
.hide {
  display: none;
}
.likes-title h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.likes-title span {
  color: #FF7F50;
}

.likes-info span {
  font-size: 2rem;
  text-align: center;
  color: #666;
  display: block;
  margin-bottom: 20px;
}

.likes-btns-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.btn {
  background-color: #FF7F50;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.btn button {
  color: #fff;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:hover {
  transition: .3s ease-in-out;
  background-color:#212121;
}

#btn-selected {
  transition: .3s ease-in-out;
  background-color: #212121;
}

.send-container {
  text-align: center;
}

.send-container button {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 300px;
  font-weight: bold;
  height: 40px;
}
.send-container button:hover {
  background-color: rgb(199, 190, 190);
}
